html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.twitter-tweet {
  width: '90%';
  margin-left: 11%;
}
.twitter-timeline {
  width: '90%';
  margin-left: 25%;
}
iframe {
  margin-left: 14%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.hljs {
  padding: 15px;
  border-radius: 4px;
}
.scroll-table {
  padding: 5px;
}

@media (max-width: 500px) {
  .twitter-tweet {
    width: '100%';
    margin-left: 0;
  }
  .twitter-timeline {
    width: '100%';
    margin-left: 0;
  }
  iframe {
    margin-left: 0;
    border: none;
    width: 79vw;
    height: 20vh;
  }

  .scroll-table {
    padding: 5px;
    width: 79vw;
    overflow-x: auto;
  }
}
